<!doctype html>
<head>
    <title>{% block title %}{% endblock %} - Administration</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='jquery-ui/jquery-ui.css') }}">
    <script language="JavaScript" src="{{ url_for('static', filename='jquery-ui/external/jquery/jquery.js') }}"></script>
</head>
<body class="dark_grey_background">
<div id="admin_content_view">
    <div id="admin_header" class="ui_div_highlight">
        {% block header %}{% endblock %}
    </div>
    <div id="admin_content" class="ui_div_background">
        {% block content %}{% endblock %}
    </div>
</div>
</body>