<!doctype html>
<head>
    <title>picoevent: login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='jquery-ui/jquery-ui.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='jquery-ui/jquery-ui.structure.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='jquery-ui/jquery-ui.theme.css') }}">
    <script language="JavaScript" src="{{ url_for('static', filename='jquery-ui/external/jquery/jquery.js') }}"></script>
    <script language="JavaScript" src="{{ url_for('static', filename='js/login_page.js') }}"></script>
</head>
<body class="wood_background">
<div id="login_header" align="right">
    <div id="login_header_content">
    <img src="{{ url_for('static', filename='images/small_logo.png') }}"/>
    <p id="admin_header_link">Project Website [ <a class="main_anchor" href="https://picoevent.io">picoevent.io</a> ]</p>
</div>
</div>
<div id="login_main">
    <div id="messages_container">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="ui-state-error ui-corner-all" style="padding: 0 .7em;">
                        <p><span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
                            <strong>Error:</strong> {{ message }}</p>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
    <div id="login_box" class="ui_div_background">
        <form action="/admin/login" method="post" id="form_login">
            <table id="login_table" cellpadding="5">

                <tr>
                    <td><label for="username" class="login_label">E-Mail Address</label></td>
                    <td align="right"><input title="E-mail Address/Username" size="35" id="username"
                                             class="dark_input"/></td>
                </tr>
                <tr>
                    <td><label for="reset_password" class="login_label">Password</label></td>
                    <td align="right"><input title="Password" size="35" id="password" type="password"
                                             class="dark_input"/></td>
                </tr>
                <tr>
                    <td>
                        [&nbsp;<a id="reset_password" class="main_anchor" href="#">reset password</a>&nbsp;]
                    </td>
                    <td align="right">
                        <input class="blue_small_submit_button" type="button" id="login_button" value="Login"/>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>
</body>